

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    
    padding: 1rem 1rem 1rem 1rem;
    background-color: #8e8fdf;


}
.image{
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    
}

.image img{
    width: 80%;
    height: auto;
}

.header-title{
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-left: -3.8rem;

}

.header-title img{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    
    
}
.main-container{
    width: 80%;
    height: auto;
    background-color: #ffff;
    border: 1.5px solid #d7d7d7;
    margin: 5rem auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15rem 3rem 15rem 3rem;
}


.form-container{
    background-color: #ffff;
    width: 60%;
    height: auto;
   
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4rem;

    
}
  

.top-form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 3rem;
}

.first-child-top{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 1.8rem;
}

.logo{
    width: 64px;
    height: 64px;
}

.logo img{
    width: 100%;
    height: 100%;
}

.header{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h2{
    width: 100%;
    height: auto;
}

.second-child-top{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
}

.email-group{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 0.4rem;
    color: rgb(89, 87, 87);
    
}

.email-group input{
    width: 100%;
    height: auto;
    padding: 0.5rem 0.6rem 0.5rem 1rem;
    border: 0.5px solid;
    border-color: grey;
    border-radius: 0.5rem;
    row-gap: 2rem;  
}

.password-input{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.4rem;
    color: rgb(89, 87, 87);
}

.password-input input{
    width: 100%;
    height: auto;
    padding: 0.5rem 0.6rem 0.5rem 1rem;
    border: 0.5px solid;
    border-color: grey;
    border-radius: 0.5rem;
    row-gap: 2rem;
}

.password-group{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 2rem;
}

.password-group a{
    width: fit-content;
    height: auto;
    text-decoration: none;
    color: #3d3fc0;
}

.lower-form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    row-gap: 2rem;
    
}

.button{
    width: fit-content;
    height: auto;
     
}

.button button{
    width: fit-content;
    height: auto;
    padding: 0.5rem 10.5rem 0.5rem 10.5rem; 
    border: none; 
    outline: none;
    border-radius: 0.5rem;
    color: #ffff;
    background-color: #3d3fc0;
    cursor: pointer;
}

.button button:hover{
    background-color: #6264de;
}

.footer-container{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 0.3rem;

}

.footer-container p{
    width: fit-content;
    height: auto;
    color: rgb(95, 93, 93);
}

.footer-container a{
    color: #3d3fc0;
    width: fit-content;
    height: auto;
    text-decoration: none;
}